@import '../../variables';

.home_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 70%;

    .section_1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        min-height: 80vh;
        width: 75%;
        h1{
            text-align: center;
            font-family: $font-primary;
            font-style: italic;
            font-weight: bold;
            font-size: 4rem;
            color: $primary-color;
        }
        p{
            text-align: center;
            font-family: $font-secondary;
            width: 60%;
            padding: 2rem;
        }
        .link{
            width: 60%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 2rem;
            .text{
                color: $white-color;
    
                text-align: center;
                font-family: $font-primary;
                font-style: italic;
                font-weight: bolder;
                font-size: 2rem;
    
                background-color: $secondary-color;
                border-radius: 10px;
                padding-left: 4rem;
                padding-right: 4rem;
            }
        }
    }

    .section_2{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        min-height: 80vh;
        width: 75%;
        .feature_content{
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            h2{
                font-family: $font-primaryN;
                font-style: normal;
                font-weight: bold;
                font-size: 4rem;
                color: $primary-color;
            }
            p{
                font-family: $font-secondary;
                font-size: 1rem;
                width: 60%;
            }
            .text{
                color: $white-color;
    
                text-align: center;
                font-family: $font-primary;
                font-style: italic;
                font-weight: bolder;
                font-size: 2rem;
    
                background-color: $primary-color;
                border-radius: 10px;
                padding-left: 4rem;
                padding-right: 4rem;
            }
        }
        img{
            width: 50%;
            background-color: $primary-color;
            height: 350px;
            border-radius: 10px;
        }
    }
    .section_3{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 25px;
        min-height: 100vh;
        width: 75%;

        .pricing_tag{
            background-color: rgba($secondary-color, 0.3);
            line-height: 0;
            padding-left: 2rem;
            padding-right: 2rem;
            border-radius: 30px;
            
            border: solid 1.5px $secondary-color;
            .tag_txt{
                font-family: $font-secondary;
                font-size: 10px;
                font-weight: 300;
                letter-spacing: 1.25px;
            }
        }
        h2{
            font-family: $font-primaryN;
            font-style: normal;
            font-weight: bold;
            font-size: 4rem;
            color: $primary-color;
        }
        .pricing_txt{
            font-family: $font-primaryN;
            letter-spacing: 1.25px;
            font-size: 1rem;
            text-align: center;
            width: 70%;
        }
        .cards{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            width: 100%;
            .card{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                .card_title{
                    font-family: $font-primaryN;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 2rem;
                    color: $primary-color;
                    margin: 0;
                }
                .card_content{
                    font-family: $font-primaryN;
                    letter-spacing: 1.2px;
                    font-size: 1rem;
                    text-align: center;
                    width: 60%;
                }
                .card_btn{
                    color: $white-color;
    
                    text-align: center;
                    font-family: $font-primary;
                    font-style: italic;
                    font-weight: bolder;
                    font-size: 1.25rem;
        
                    background-color: $primary-color;
                    border-radius: 10px;
                    padding-left: 2rem;
                    padding-right: 2rem;
                }
            }
        }
    }

    .section_4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 25px;
        width: 75%;
        min-height: 100vh;

        .blog_tag{
            background-color: rgba($secondary-color, 0.3);
            line-height: 0;
            padding-left: 2rem;
            padding-right: 2rem;
            border-radius: 30px;
            
            border: solid 1.5px $secondary-color;
            .tag_txt{
                font-family: $font-secondary;
                font-size: 10px;
                font-weight: 300;
                letter-spacing: 1.25px;
            }
        }
        h2{
            font-family: $font-primaryN;
            font-style: normal;
            font-weight: bold;
            font-size: 4rem;
            color: $primary-color;
        }
        .blog_txt{
            font-family: $font-primaryN;
            letter-spacing: 1.25px;
            font-size: 1rem;
            text-align: center;
            width: 70%;
        }
        .cards{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            flex-wrap: wrap;
            gap: 5%;
            width: 100%;


            .card{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;

                width: 200px;

                border-radius: 10px;
                border: solid 1px $black-color;

                .card_link{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    img{
                        background-color: rgba($black-color, 0.3);
                        width: 100%;
                        height: auto;
                        border-radius: 10px;
                    }
                    .card_title{
                        font-family: $font-primary;
                        font-style: italic;
                        font-size: 1.5rem;
                        font-weight: 500;
                        color: $black-color;
                        margin: 0;
                        text-align: center;
                    }
                    .card_content{
                        font-family: $font-primaryN;
                        color: $black-color;
                        letter-spacing: 1.2px;
                        font-size: 0.75rem;
                        text-align: center;
                        width: 60%;
                    }
                }
            }
        }
    }

    .section_5{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 50%;
        min-height: 100vh;
        gap: 25px;
        .img-logo{
            width: 150px;
            border-radius: 100%;
        }
        .network_list{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            height: 150px;
            h2{
                font-family: $font-primary;
                font-style: normal;
                font-weight: bold;
                font-size: 4rem;
                color: $primary-color;
            }
            .links{
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 25px;
                a{
                    img{
                        width: 50px;
                    }
                }
            }
        }
    }
}