@import '../variables';

.navbar{
    width: 85%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-top: 25px;
    
    .navbar_left{
        width: 20%;

        .text {
            text-align: center;
            font-family: $font-primary;
            font-style: italic;
            font-weight: bold;
            font-size: 2rem;
            color: $primary-color;
        }
    }
    .navbar_middle{
        font-family: $font-primary;
        font-style: italic;
        font-weight: 600;
        font-size: 1.5rem;
        color: $black-color;

        width: 30%;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .navbar_right{
        width: 20%;
        .text{
            text-align: center;
            color: $white-color;
            background-color: $primary-color;
            border-radius: 10px;
            font-size: 2rem;
            padding-left: 2rem;
            padding-right: 2rem;
            font-family: $font-primary;
            font-style: italic;
            font-weight: bolder;
        }
    }
}