// Define color variables
$primary-color: #1782E7;
$secondary-color: #FFBF44;
$black-color: #000000;
$white-color: #FFFFFF;

// Define font variables

@font-face {
    font-family: 'Alumni';
    src: url('./assets/fonts/AlumniSans-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Alumni-N';
  src: url('./assets/fonts/AlumniSans.ttf') format('truetype');
}


@font-face {
font-family: 'Inter';
src: url('./assets/fonts/Inter.ttf') format('truetype');
}

  
$font-primary: 'Alumni', sans-serif;
$font-primaryN: 'Alumni-N', sans-serif;
$font-secondary: 'Inter', sans-serif;


